.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header .circle {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
}

.header__logo {
  margin-right: 24px;
  font-weight: 900;
  size: 32px;
  line-height: 39.68px;
  font-family: "CabinetGroteskMed", sans-serif;
}

.header__date-and-location {
  margin-right: 667px;
  font-family: "CabinetGroteskMed", sans-serif;
  font-weight: 700;
  size: 20px;
  line-height: 24px;
  width: 160px;
  height: 24px;
  white-space: nowrap;
}

.header__add-clothes-btn {
  margin: 20px 20px;
  outline: none;
  border: none;
  background: none;
  font-family: "CabinetGroteskMed", sans-serif;
  font-weight: 700;
  size: 20px;
  line-height: 24px;
  width: 116px;
  height: 24px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "CabinetGroteskMed", sans-serif;
  color: black;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.header__signup {
  margin-left: 20px;
  border: none;
  margin-left: 20px;
  border: none;
  font-family: "Cabinet Grotesk" sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.header__signin {
  margin-left: 20px;
  border: none;
  font-family: "Cabinet Grotesk" sans-serif;
  font-weight: 700;
  line-height: 25px;
  font-size: 20px;
}
