.modal__submit-signup {
  background-color: white;
  border: none;
  margin-top: 30px;
  color: #00000080;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "CabinetGrotesk", sans-serif;
}
